h1 {
  margin: 40px 0;
}
.h4 {
  margin-bottom: 40px;
}
#nav {
  border-bottom: 2px solid #0ba1e4;
  background: #fff;
  padding: 10px 0;
  margin-bottom: 0;
}
#nav .navbar-brand {
  padding: 0;
}
#nav .navbar-collapse {
  margin-top: 10px;
}
#nav .navbar-nav li a {
  font-size: 16px;
}
#nav .navbar-nav li a:hover {
  color: #0ba1e4;
}
#nav .navbar-nav li.active a {
  color: #0ba1e4;
  background: transparent;
  position: relative;
}
@media (max-width: 768px) {
  #nav .navbar-nav li.active a::after {
    display: none;
  }
}
#nav .navbar-nav li.active a::after {
  content: "";
  width: 20px;
  height: 2px;
  background: #0ba1e4;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -10px;
}
#slide .item .bigImg {
  width: 100%;
  height: 540px;
  background: url(../images/banner1-large.png) center center;
}
#slide .item img {
  width: 100%;
}
#feature {
  padding: 40px;
}
#feature .row {
  margin: 40px 0 0;
}
#feature .row > div > div {
  margin-bottom: 10px;
  font-size: 50px;
  color: #0ba1e4;
}
#feature .row .p1 {
  font-size: 50px;
  color: #0ba1e4;
}
#feature .row .p2 {
  font-size: 16px;
  color: #999;
}
#goodness {
  background: #eee;
  padding: 40px;
}
#goodness .row .ourGoodness {
  width: 100%;
  height: 280px;
  background: #fff;
  border: 1px solid #999;
  padding: 10px;
}
#goodness .row .ourGoodness i {
  font-size: 80px;
  margin: 30px 0;
  color: #0ba1e4;
}
#goodness .row .ourGoodness:hover {
  transition: all 0.5s;
  background: #0ba1e4;
  color: #fff;
}
#goodness .row .ourGoodness:hover i {
  color: #fff;
}
#service .service01 {
  perspective: 1000px;
  border: 1px solid #999;
  margin: 0 -15px;
}
#service ul {
  padding: 20px 0 50px;
}
#service ul li {
  line-height: 50px;
  position: relative;
}
#service ul li .btn-default {
  position: absolute;
  width: 100px;
  height: 40px;
  border-color: #0ba1e4;
  color: #0ba1e4;
  left: 50%;
  margin-left: -50px;
}
#service ul .title {
  font-size: 16px;
  color: #0ba1e4;
  font-weight: 700;
  line-height: 30px;
}
#service ul .txt {
  line-height: 30px;
}
#service ul .line {
  width: 100%;
  height: 1px;
  background: #999;
  margin: 20px 0;
}
#service ul.active {
  transition: all 0.5s;
  transform: scale(1.1);
  background: #0ba1e4;
  color: #fff;
  border-color: transparent;
  box-shadow: 0 0 10px 2px #0ba1e4;
  z-index: 1;
}
#service ul.active .line {
  background: #fff;
}
#service ul.active .title {
  color: #fff;
}
#service ul.active li a {
  background: #0ba1e4;
  color: #fff;
  border-color: #fff;
}
#service ul.active li a:hover {
  transition: all 0.5s;
  background: #fff;
  color: #0ba1e4;
}
#service .more {
  margin: 60px 0;
}
#service .more a {
  border-color: #0ba1e4;
  color: #0ba1e4;
  font-size: 16px;
}
#service .more a:hover {
  transition: all 0.5s;
  background: #0ba1e4;
  color: #fff;
}
#encourage {
  background: #eee;
  padding: 40px 0;
}
#encourage .row .person {
  height: 280px;
  width: 100%;
  position: relative;
  margin-top: 60px;
}
#encourage .row .person img {
  width: 50px;
  border-radius: 25px;
  position: absolute;
  top: -25px;
  margin-left: -25px;
  z-index: 1;
}
#encourage .row .person .txt {
  padding: 40px 20px 0;
  height: 160px;
  border: 1px solid #34a263;
  position: relative;
}
#encourage .row .person .txt .text-left {
  margin-bottom: 10px;
}
#encourage .row .person .txt .pull-left {
  background: #aaa;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  padding: 0 5px;
}
#encourage .row .person .txt .pull-right {
  font-size: 12px;
  color: #aaa;
}
#encourage .row .person .txt .line {
  position: absolute;
  border: 16px solid transparent;
  border-top-color: #34a263;
  bottom: -32px;
  left: 50%;
  margin-left: -16px;
}
#encourage .row .person .txt .line::after {
  content: '';
  position: absolute;
  border: 14px solid transparent;
  border-top-color: #eee;
  bottom: -12px;
  left: -14px;
}
#encourage .row .person .comma {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #34a263;
  color: #34a263;
  font-size: 80px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -35px;
}
#news {
  padding: 40px 0;
}
#news .row > div {
  margin-bottom: 40px;
}
#news .media-left a {
  display: block;
  width: 140px;
  height: 130px;
  border: 1px solid #999;
  padding: 20px 5px;
  border-radius: 5px;
}
#news .media-left a img {
  width: 130px;
}
#news .media-body {
  padding: 10px 0;
  font-size: 12px;
  color: #999;
}
#news .media-body .media-heading a {
  color: #0ba1e4;
  white-space: nowrap;
  /*让文本强制一行显示*/
  text-overflow: ellipsis;
  /*超出文本的用省略号显示*/
  overflow: hidden;
  /*必须跟以上一起用*/
}
#news .media-body .media-heading a:hover {
  text-decoration: none;
  color: #0ba1e4;
  font-weight: 700;
}
#news .media-body .pull-right {
  color: #999;
}
#news a.moreNews {
  font-size: 20px;
}
#friend {
  background: #eee;
}
#friend img {
  width: 130px;
  border: 1px solid #999;
  filter: grayscale(100%);
  margin-bottom: 40px;
}
#friend img:hover {
  filter: none;
  border-color: #0ba1e4;
}
#question {
  background: #0ba1e4;
  color: #fff;
  padding: 40px;
}
#question h1 {
  position: relative;
}
#question h1::after {
  content: "";
  width: 340px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -170px;
}
#question .btn-default {
  width: 150px;
  height: 50px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  background: #0ba1e4;
  border-color: #fff;
}
#question .btn-default:hover {
  background: #fff;
  color: #0ba1e4;
}
#footer {
  height: 240px;
  background: #333;
  color: #fff;
  padding: 40px 0;
}
#footer .row > div {
  border-left: 2px solid #fff;
  height: 160px;
}
#footer .row > div a {
  display: block;
  line-height: 40px;
  color: #fff;
}
